LLM_PROVIDER=AzureOpenAI
LLM_ENDPOINT=https://aiportalapi.stu-platform.live/jpe
LLM_MODEL_NAME=GPT-4o-mini
LLM_API_KEY=<your-api-key>
LLM_EMBEDDING_MODEL_NAME=text-embedding-3-small
LLM_EMBEDDING_API_KEY_EMBEDDING=<your-api-key>
