# Common
QUERY_CACHE_ENABLED=1
QUERY_CACHE_DEFAULT_TTL=3600
QUERY_CACHE_DEFAULT_SIZE=1000

# Azure OpenAI
LLM_PROVIDER=Azure
LLM_ENDPOINT=https://aiportalapi.stu-platform.live/jpe
LLM_MODEL_NAME=GPT-4o-mini
LLM_API_KEY=<your-api-key>
LLM_API_VERSION=2024-07-01-preview

# Azure OpenAI (Embedding)
LLM_EMBEDDING_PROVIDER=azure
LLM_EMBEDDING_ENDPOINT=https://aiportalapi.stu-platform.live/jpe
LLM_EMBEDDING_MODEL_NAME=text-embedding-3-small
LLM_EMBEDDING_API_KEY=<your-api-key>
LLM_EMBEDDING_API_VERSION=2024-07-01-preview

# OpenAI (Embedding)
# LLM_EMBEDDING_PROVIDER=openai
# LLM_EMBEDDING_ENDPOINT=https://api.openai.com/v1
# LLM_EMBEDDING_MODEL_NAME=text-embedding-3-small
# LLM_EMBEDDING_API_KEY=<your-openai-api-key>

# SentenceTransformers (Embedding)
# LLM_EMBEDDING_PROVIDER=sentence_transformers
# LLM_EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

# HuggingFace Transformers (Embedding)
# LLM_EMBEDDING_PROVIDER=huggingface
# LLM_EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2

# Google AI Studio (Embedding)
# LLM_EMBEDDING_PROVIDER=google
# LLM_EMBEDDING_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/openai/
# LLM_EMBEDDING_MODEL_NAME=gemini-embedding-001
# LLM_EMBEDDING_API_KEY=<your-api-key>
